/**
* Template Name: BizLand - v1.2.0
* Template URL: https://bootstrapmade.com/bizland-bootstrap-business-template/
* Author: BootstrapMade.com
* License: https://bootstrapmade.com/license/
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #FE3F00;
}

a:hover {
  color: #FE3F00;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
}
/*--------------------------------------------------------------
# Frequently Asked Questions
--------------------------------------------------------------*/
.faq {
  padding: 60px 0 0 0;
}

.faq h6{
  text-align: right;
  font-size: 20px;
  margin-left: 45%;
}

.faq .faq-list {
  padding: 0;
  list-style: none;
}

.faq .faq-list li {
  padding: 0 0 20px 25px;
}

.faq .faq-list a {
  display: block;
  position: relative;
  font-family: #106eea;
  font-size: 18px;
  font-weight: 500;
}

.faq .faq-list i {
  font-size: 18px;
  position: absolute;
  left: -25px;
  top: 6px;
}

.faq .faq-list p {
  margin-bottom: 20px;
  font-size: 15px;
}

.faq .faq-list a.collapse {
  color: #106eea;
}

.faq .faq-list a.collapsed {
  color: #343a40;
}

.faq .faq-list a.collapsed:hover {
  color: #106eea;
}

.faq .faq-list a.collapsed i::before {
  content: "\eab2" !important;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #FE3F00;
  border-top-color: #e2eefd;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  background: #FE3F00;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top i:hover {
  background: #FE3F00;
  color: #fff;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  background: #FE3F00;
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: #fff;
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .contact-info a {
  line-height: 1;
  color: #fff;
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  text-decoration: underline;
}

#topbar .contact-info i {
  padding-right: 4px;
  margin-left: 15px;
}

#topbar .contact-info i:first-child {
  margin-left: 0;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.6);
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #fff;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 25px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#header.header-scrolled {
  top: 0;
  padding: 15px;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 0.8px;
  font-family: "Poppins", sans-serif;
}

.login_button{
  padding: 10px;
  background-color: #FE3F00;
  color: white;
  display: inline-block;
  border-radius: 4px;
  border: none;
  text-align: center;
  width: 100px;
  transition: all 0.5s;
}

#header .logo a {
  color: #222222;
}

#header .logo a span {
  color: #FE3F00;
}

#header .logo img {
  max-height: 40px;
}

@media (max-width: 992px) {
  #header {
    padding: 15px;
    top: 0;
  }
  #header .logo {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 28px;
}

.loginbtn{
  padding-left: 28px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #222222;
  transition: 0.3s;
  font-size: 15px;
  font-weight: 600;
  padding: 0 3px;
  font-family: "Open Sans", sans-serif;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #FE3F00;
  visibility: hidden;
  width: 0px;
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  width: 100%;
}

.nav-menu a:hover, .nav-menu .active > a, .nav-menu li:hover > a {
  color: #FE3F00;
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 26px;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #062b5b;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #FE3F00;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #222222;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #222222;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #FE3F00;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(9, 9, 9, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.heroberita {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/HEADLINE.png");
  height: 85vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.herotentang {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/tentang_kamigmbr.png");
  height: 85vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.herotentang-text {
  text-align: right;
  position: absolute;
  left: 56%;
  top: 55%;
  transform: translate(-8%, 10%);
  color: white;
}

.herotentang-text span {
  color:#FE3F00;
}

.herotentang-text h1{
  font-size: 50px;
}

.herotentang-text_berita {
  text-align: center;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-8%, 10%);
  color: white;
}

.herotentang-text_berita span {
  color:#FE3F00;
}

/* .herotentang-text_berita h1{
  font-size: 50px;
} */

.herokarir{
  background-image: linear-gradient(to top left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), url("../img/karirgmbr.png");
  height: 85vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.herokarir-text {
  text-align: right;
  position: absolute;
  left: 65%;
  top: 60%;
  transform: translate(-8%, 10%);
  color: white;
}

.herokarir-text span {
  color: #FE3F00;
  text-transform: uppercase;
}

.herokarir-text h1{
  font-size: 50px;
}

.tulisanvm{
  position: absolute;
  top: 40%;
  left: 40%;
  color: white;
}

.btn-lwn-pos{
  position: absolute;
  top: 90%;
  left: 27%;
}

.btn-lwn{
  background-color: #FE3F00;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.btn-lwn:hover {
  background-color: #B6B6B7;
}

.btn-lwn-daftar:hover{
  background-color: #B6B6B7;
}

.btn-lwn-daftar{
  background-color: #FE3F00;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 15px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.tulisan-lowongan{
  position: absolute;
  margin: 10%;
  padding: 5%;
  transform: translate(0%, 15%);
  text-align: center;
  color: white;
}

.tulisankantor{
  position: absolute;
  color: white;
  padding: 10px 100px 10px 10px;
  top: 20%;
}

.visimisi{
  padding: 0 0 60px;
  overflow: hidden;
}

.urban{
  overflow: hidden;
}

.profil{
  padding: 60px 0 55px;
  overflow: hidden;
}

.pemesanan{
  padding: 60px 0 55px;
  background: url("../img/bgpesan.png");
  background-repeat: round;
  background-size: auto;
  overflow: hidden;
}

.pendaftaran{
  padding: 60px 0 55px;
  background: url("../img/bgpesan.png");
  background-repeat: round;
  background-size: auto;
  overflow: hidden;
}

.bgpemesanan{
  padding: 5% 3%;
  border-radius: 4px;
  background-color: #f2f2f2;
  opacity: 0.9;
}

.bgpendaftaran{
  padding: 5% 0;
  border-radius: 4px;
  background-color: #f2f2f2;
  opacity: 0.9;
}

.lowongan{
  padding: 60px 0 55px;
  overflow: hidden;
}

.persyaratan{
  padding: 0 0 60px;
  overflow: hidden;
  display: none;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
}

@-webkit-keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.surat2{
  padding: 60px 0 60px;
  overflow: hidden;
}

.surat2-bg{
  background-color: #f6f9fe;
}

.armada{
  padding: 0 0 60px;
  overflow: hidden;
}

.order_mudah{
  padding: 0 0 60px;
  overflow: hidden;
}

.formulir{
  border-radius: 5px;
  padding: 20px;
}

.form-grup{
  margin-bottom: 20px;
}

.radiobtn{
  appearance: none;
  width: 18px; 
  height: 18px;
  border-radius: 50%;
  background-color: white;
  outline: 0;
}

.radiobtn:checked{
  background-color: #FE3F00;
}

.isian{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color:rgba(255, 255, 255, 1);
}

#text-info span {
  display: block;
  padding: 10px 15px;
  text-align: center;
  font-weight: 700;
  margin: 15px 0;
  border-radius: .5rem;
}
#text-info span.yes {
  background: #c6ffc5;
  color: #0ea904;
}
#text-info span.no {
  background: #ffc5c5;
  color: #ce0404;
}

.tmblpesan{
  width: 100%;
  background-color: #FE3F00;
  color: white;
  text-align: center;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tmblpesan:hover{
  background-color: #B6B6B7;
  color: white;
}

.tmbldaftar{
  width: 100%;
  background-color: #FE3F00;
  color: white;
  text-align: center;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tmbldaftar:hover{
  background-color: #B6B6B7;
}

.news{
  padding: 0 0 60px;
  overflow: hidden;  
}

.kantor{
  padding: 0 0 60px;
  overflow: hidden;
}
.kantor .kontenkt {
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}
.kantor .kontenkt .kontenkt-info {
  font-family: 'Yantramanav', sans-serif;
  padding: 25px 15px;
}

.kantor .kontenkt .kontenkt-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 0.9em;
  color: #222222;
}
.kantor .kontenkt .kontenkt-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: black;
}
.kantor .kontenkt .kontenkt-info p {
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}
.kantor .kontenkt .kontenkt-img {
  position: relative;
  overflow: hidden;
}

/* .wordingkantor{
  position: absolute;
  top: 30%;
} */

.segitigaor{
  position: relative;
  width: 100%;
}

.segitigagor{
  float: right;
}

.content .content-overlay {
  background: #FE3F00;
  position: absolute;
  height: 100%;
  width: 92.5%;
  left: 4%;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content-image{
  width: 100%;
}

.lwn-image{
  width: 100%;
  border-radius: 8px;
}

.content:hover .content-overlay{
  opacity: 0.9;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.9em;
  padding: 10px;
}

.fadeIn-bottom{
  top: 80%;
}

.mb_30{
  margin-bottom: 30px;
}

.mb_30ml{
  margin-bottom: 30px;
}

.mb_30m{
  margin-bottom: 30px;
}

#hero{
  background-image: url("../img/hero-bg.jpg");
  height: 85vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.map {
  width: 100%;
  background-size: cover;
  position: relative;
}

.map_image{
  width: 70%;
  text-align: center;
}

.komitmen{
  text-align: center;
  color: #FE3F00;
  margin-bottom: 4%;
}

.komitmen-kami{
  text-align: center;
  color: #FE3F00;
  margin-bottom: 4%;
  font-weight: 600;
}

#hero .container {
  position: relative;
  padding-top: 20%;
}

@media (max-width: 992px) {
  #hero .container {
    padding-top: 58px;
  }
  .mb_30m{
    margin-bottom: 3%;
  }
  .mb_30ml{
    margin-bottom: 50px;
  }
  .herokarir-text {
    text-align: center;
    position: absolute;
    left: 0%;
    top: 65%;
    transform: translate(0%, 0%);
    color: white;
  }
  .herokarir-text h1{
    font-size: 2.5rem;
  }
  .segitigagor{
    float: right;
  }
}
#hero h1 span {
  color: #FE3F00;
}

#hero h1 {
  margin-left: -140%;
  font-weight: 700;
  line-height: 56px;
  color: #222222;
  font-family: "Poppins", sans-serif;
}

#hero h2 {
  color: #555555;
  margin: 5px 0 30px 0;
  font-size: 24px;
  font-weight: 400;
}

#hero .btn-get-started {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 28px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #FE3F00;
}

#hero .btn-get-started:hover {
  background: #247cf0;
}

#hero .btn-watch-video {
  font-size: 16px;
  display: inline-block;
  padding: 10px 25px 8px 40px;
  transition: 0.5s;
  margin-left: 25px;
  color: #222222;
  position: relative;
  font-weight: 600;
}

#hero .btn-watch-video i {
  color: #106eea;
  font-size: 32px;
  position: absolute;
  left: 0;
  top: 7px;
  transition: 0.3s;
}

#hero .btn-watch-video:hover {
  color: #106eea;
}

#hero .btn-watch-video:hover i {
  color: #3b8af2;
}

/* @media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
} */


@media (max-width: 992px) {
  .komitmen-kami{
    margin-bottom: 12%;
    font-weight: 600;
  }
  #hero .container {
    position: relative;
    padding-top: 87%;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    left: 0%;
    transform: translate(0%, 0%);
    font-size: 16px;
  }
  .herotentang-text {
    text-align: center;
    position: absolute;
    left: 0%;
    transform: translate(0%, 0%);
    color: white;
  }
  .herotentang-text h1{
    font-size: 1.5rem;
  }
  .herotentang-text_berita {
    text-align: center;
    position: absolute;
    left: 25%;
    transform: translate(0%, 0%);
    color: white;
  }
  .herotentang-text_berita h1{
    font-size: 1.5rem;
  }
  .segitigagor{
    float: right;
  }
  }
  
@media (max-width: 768px) {
.urban{
  padding: 0;
}

.map_image{
  width: 85%;
}
.map {
  /* width: 21.5em; */
  background-size: cover;
  position: relative;
  padding:0;
}
.faq{
  margin-bottom: 60px;
}
.faq h6{
  text-align: center;
  font-size: 16px;
  margin: 0;
} 
#hero h1 {
  font-size: 28px;
  line-height: 36px;
  margin-left: 0;
  color: #fff;
}

/* #hero h1 span {
  color: #e0d5d1;
} */
#hero h2 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 30px;
}
#hero .btn-get-started, #hero .btn-watch-video {
  font-size: 13px;
}
}

@media (max-height: 500px) {
  #hero {
    height: 120vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-bg {
  height: auto;
  background-color: #fff;
}

.section-bg-about {
  height: auto;
  width: auto;
  background: url("../img/BACKGROUND FOTO DESAIN 2.png") ;
}

.section-bg-armada {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding-top: 0;
}

.section-bg-order_mudah {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding-top: 0;
}

.section-bg-news {
  height: auto;
  width: 100%;
  background-color: #fff;
  padding-top: 0;
}
.section-title {
  text-align: center;
}

.section-title h2 {
  font-size: 13px;
  letter-spacing: 1px;
  font-weight: 700;
  padding: 8px 20px;
  margin: 0;
  background: #e7f1fd;
  color: #106eea;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 50px;
}

.section-title h3 {
  margin: auto;
  font-size: 20px;
  font-weight: 700;
  color: #000;
  width: 100%;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 20px 0;
  background-color: #f1f6fe;
  min-height: 40px;
  margin-top: 134px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 58px;
  }
  
}

.breadcrumbs h2 {
  font-size: 24px;
  font-weight: 300;
  margin: 0;
}

@media (max-width: 992px) {
  .breadcrumbs h2 {
    margin: 0 0 10px 0;
  }
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #6c757d;
  content: "/";
}

@media (max-width: 768px) {
  .breadcrumbs .d-flex {
    display: block !important;
  }
  .breadcrumbs ol {
    display: block;
  }
  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Featured Services
--------------------------------------------------------------*/
.featured-services {
  background-color: rgb(255, 255, 255);
}
.featured-services .icon-box {
  width: 100%;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background:#ccc;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services .icon-box::before {
  content: '';
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services .icon-box:hover::before {
  background: #FE3F00;
  top: 0;
  border-radius: 0px;
}

.featured-services .icon {
  margin-bottom: 15px;
}

.featured-services .icon i {
  font-size: 48px;
  line-height: 1;
  color: #ed3c0d;
  transition: all 0.3s ease-in-out;
  
}

.featured-services .title {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services .title a {
  color: #111;
}

.featured-services .description {
  color: #111;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}

.featured-services .icon-box:hover .title a, .featured-services .icon-box:hover .description {
  color: #fff;
}

.featured-services_komitmen .icon-box:hover .icon i {
  color: #fff;
}
.featured-services_komitmen {
  background-color: rgb(255, 255, 255);
}
.featured-services_komitmen .icon-box {
  width: 100%;
  padding: 30px;
  position: relative;
  overflow: hidden;
  background:#ccc;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
}

.featured-services_komitmen .icon-box::before {
  content: '';
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services_komitmen .icon-box:hover::before {
  background: #FE3F00;
  top: 0;
  border-radius: 0px;
}

.featured-services_komitmen .icon-box2:hover .icon i {
  color: #fff;
}
.featured-services_komitmen {
  background-color: rgb(255, 255, 255);
}
.featured-services_komitmen .icon-box2 {
  width: 70%;
  position: relative;
  overflow: hidden;
  background:#ccc;
  box-shadow: 0 0 29px 0 rgba(68, 88, 144, 0.12);
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
  z-index: 1;
  margin: 0;
}

.featured-services_komitmen .icon-box2::before {
  content: '';
  position: absolute;
  background: #cbe0fb;
  right: 0;
  left: 0;
  bottom: 0;
  top: 100%;
  transition: all 0.3s;
  z-index: -1;
}

.featured-services_komitmen .icon-box2:hover::before {
  background: #FE3F00;
  top: 0;
  border-radius: 0px;
}

.featured-services_komitmen .icon {
  margin-bottom: 15px;
}

.featured-services_komitmen .icon i {
  font-size: 48px;
  line-height: 1;
  color: #ed3c0d;
  transition: all 0.3s ease-in-out;
  
}

.featured-services_komitmen .title {
  font-weight: 500;
  margin-bottom: 15px;
  font-size: 18px;
}

.featured-services_komitmen .title a {
  color: #111;
}

.featured-services_komitmen .description {
  color: #111;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: center;
}

.featured-services_komitmen .icon-box:hover .title a, .featured-services_komitmen .icon-box:hover .description {
  color: #fff;
}

.featured-services_komitmen .icon-box:hover .icon i {
  color: #fff;
}
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content h3 {
  font-weight: 500;
  font-size: 26px;
}

.komitmen_image{
  width: 30%;
}

.komitmen_image1{
  width: 100%;
}

.mitra_image{
  width: 11%;
}

.mitra1_image{
  width: 18%;
}

.about .order{
  color: #fff;
  text-align: center;
  padding-top: 15%;
  font-family: 'Courier New', Courier, monospace;
  font-size: 50px;
}

/* .about .pesan{
  margin-right: 2%;
} */

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 35px;
}

.about .content ul li:first-child {
  margin-top: 35px;
}

/* .about .content ul i {
  background: #fff;
  box-shadow: 0px 6px 15px rgba(16, 110, 234, 0.12);
  font-size: 24px;
  padding: 20px;
  color: #106eea;
  border-radius: 50px;
} */

.about .content ul h5 {
  font-size: 18px;
  color: #555555;
}

.about .content ul .pertama {
  font-size: 15px;
  position: absolute;
  top: 17%;
  z-index: 2;
  color: #fff;
  left: 80%;
  font-size: 16px;
}

.about .content ul .kedua {
  font-size: 15px;
  position: absolute;
  top: 47%;
  z-index: 2;
  color: #fff;
  left: 74%;
  font-size: 16px;
}

.about .content ul .ketiga {
  font-size: 15px;
  position: absolute;
  top: 76%;
  z-index: 2;
  color: #fff;
  left: 78%;
  font-size: 16px;
}

.about .content ul img {
  position: relative;
  z-index: 1;
  top: 0;
  margin-top: 4%;
  width: 50%;
  margin-left: 100%;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Skills
--------------------------------------------------------------*/
.skills .progress {
  height: 50px;
  display: block;
  background: none;
}

.skills .progress .skill {
  padding: 10px 0;
  margin: 0 0 6px 0;
  text-transform: uppercase;
  display: block;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.skills .progress .skill .val {
  float: right;
  font-style: normal;
}

.skills .progress-bar-wrap {
  background: #e2eefd;
}

.skills .progress-bar {
  width: 1px;
  height: 10px;
  transition: .9s;
  background-color: #106eea;
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #f1f6fe;
}

.counts .count-box i {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  background: #106eea;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
  border: 5px solid #fff;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #062b5b;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  padding: 15px 0;
  text-align: center;
}

.clients img {
  max-width: 45%;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
}

.clients img:hover {
  transform: scale(1.15);
}

@media (max-width: 768px) {
  .clients img {
    max-width: 40%;
  }

  .featured-services_komitmen {
    padding:0;
    margin-bottom: 0;
  }

  .featured-services{
    padding-bottom:0;
  }

  #hero {
    width: 100%;
    height: 85vh;
    background-size: cover;
    position: relative;
  }

  .hero-text {
    position: absolute;
    left: 0%;
    transform: translate(0%, 0%);
    font-size: 1rem;
  }
}

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
.services .icon-box {
  text-align: center;
  border: 1px solid #e2eefd;
  padding: 80px 20px;
  transition: all ease-in-out 0.3s;
  background: #fff;
}

.services .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #f1f6fe;
  border-radius: 4px;
  border: 1px solid #deebfd;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  transition: ease-in-out 0.3s;
}

.services .icon-box .icon i {
  color: #3b8af2;
  font-size: 28px;
  transition: ease-in-out 0.3s;
}

.services .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.services .icon-box h4 a {
  color: #222222;
  transition: ease-in-out 0.3s;
}

.services .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.services .icon-box:hover {
  border-color: #fff;
  box-shadow: 0px 0 25px 0 rgba(16, 110, 234, 0.1);
}

.services .icon-box:hover h4 a, .services .icon-box:hover .icon i {
  color: #106eea;
}

.services .icon-box:hover .icon {
  border-color: #106eea;
}

/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials {
  padding: 80px 0;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f6f9fe;
}

.testimonials .section-header {
  margin-bottom: 40px;
}

.testimonials .testimonial-item {
  text-align: justify;
  color: black;
}

.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials .testimonial-item h3 {
  font-size: 1.55rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}

.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}

.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials .testimonial-item p {
  color: black;
}

.testimonials .owl-nav, .testimonials .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #595757 !important;
}

.testimonials .owl-dot.active {
  background-color: #FE3F00 !important;
}

.testimonials_berita {
  padding: 80px 0 0 0;
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials_berita::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
}

.testimonials_berita .section-header {
  margin-bottom: 40px;
}

.testimonials_berita .testimonial-item {
  text-align: justify;
  color: black;
}

.testimonials_berita .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials_berita .testimonial-item h3 {
  font-size: 1.55rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: black;
}

.testimonials_berita .testimonial-item h4 {
  font-size: 12px;
  color: rgb(2, 2, 2);
  margin: 0 0 15px 0;
}

.testimonials_berita .testimonial-item .quote-icon-left, .testimonials_berita .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

.testimonials_berita .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials_berita .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}

.testimonials_berita .testimonial-item p {
  color: black;
}

.testimonials_berita .owl-nav, .testimonials_berita .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials_berita .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #595757 !important;
}

.testimonials_berita .owl-dot.active {
  background-color: #FE3F00 !important;
}

/* slider beranda */
.ordermudah{
  width: 104.5%;
}
.gpstracking{
  width: 121.9%;
}
.timdelivery{
  width: 102.5%;
}
.testimonials_beranda {
  background-position: center center;
  background-size: cover;
  position: relative;
}

.testimonials_beranda::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
}

.testimonials_beranda .section-header {
  margin-bottom: 40px;
}

.testimonials_beranda .testimonial-item {
  text-align: left;
  color: black;
  background-color: #ccc;
}

.testimonials_beranda .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}

.testimonials_beranda .testimonial-item h3 {
  font-size: 3.5rem;
  color: black;
  margin-left: 5%;
  margin-top: 5%;
}

.testimonials_beranda .testimonial-item h4 {
  font-size: 12px;
  color: rgb(2, 2, 2);
  margin: 0 0 15px 0;
}

.testimonials_beranda .testimonial-item .quote-icon-left, .testimonials_beranda .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}

.testimonials_beranda .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}

.testimonials_beranda .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials_beranda .testimonial-item p {
  color: black;
  margin-top: 5%;
  margin-left: 5%;
  font-size: 1.5rem;
}

.testimonials_beranda .owl-nav, .testimonials_beranda .owl-dots {
  margin-top: 5px;
  text-align: center;
}

.testimonials_beranda .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #595757 !important;
}

.testimonials_beranda .owl-dot.active {
  background-color: #FE3F00 !important;
}

@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
  .testimonials_berita {
    background-attachment: fixed;
  }
  .testimonials_beranda {
    background-attachment: fixed;
  }
}

@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
  .testimonials_berita .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Portfolio
--------------------------------------------------------------*/
.portfolio #portfolio-flters {
  padding: 0;
  margin: 0 auto 15px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
  padding: 2px 15px;
}

.portfolio #portfolio-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 10px 15px 8px 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}

.portfolio #portfolio-flters li:hover, .portfolio #portfolio-flters li.filter-active {
  color: #106eea;
}

.portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

.portfolio .portfolio-item {
  margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-info {
  opacity: 0;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 0;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
  color: #222222;
}

.portfolio .portfolio-item .portfolio-info p {
  color: #555555;
  font-size: 14px;
  margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link, .portfolio .portfolio-item .portfolio-info .details-link {
  position: absolute;
  right: 40px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: #3c3c3c;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover, .portfolio .portfolio-item .portfolio-info .details-link:hover {
  color: #106eea;
}

.portfolio .portfolio-item .portfolio-info .details-link {
  right: 10px;
}

.portfolio .portfolio-item .portfolio-links {
  opacity: 0;
  left: 0;
  right: 0;
  text-align: center;
  z-index: 3;
  position: absolute;
  transition: all ease-in-out 0.3s;
}

.portfolio .portfolio-item .portfolio-links a {
  color: #fff;
  margin: 0 2px;
  font-size: 28px;
  display: inline-block;
  transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-links a:hover {
  color: #6ba7f5;
}

.portfolio .portfolio-item:hover .portfolio-info {
  opacity: 1;
  bottom: 20px;
}

/*--------------------------------------------------------------
# Portfolio Details
--------------------------------------------------------------*/
.portfolio-details {
  padding-top: 30px;
}

.portfolio-details .portfolio-details-container {
  position: relative;
}

.portfolio-details .portfolio-details-carousel {
  position: relative;
  z-index: 1;
}

.portfolio-details .portfolio-details-carousel .owl-nav, .portfolio-details .portfolio-details-carousel .owl-dots {
  margin-top: 5px;
  text-align: left;
}

.portfolio-details .portfolio-details-carousel .owl-dot {
  display: inline-block;
  margin: 0 10px 0 0;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

.portfolio-details .portfolio-details-carousel .owl-dot.active {
  background-color: #FE3F00 !important;
}

.portfolio-details .portfolio-info {
  padding: 30px;
  position: absolute;
  right: 0;
  bottom: -70px;
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.portfolio-details .portfolio-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.portfolio-details .portfolio-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}

.portfolio-details .portfolio-info ul li + li {
  margin-top: 10px;
}

.portfolio-details .portfolio-description {
  padding-top: 50px;
}

.portfolio-details .portfolio-description h2 {
  width: 50%;
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.portfolio-details .portfolio-description p {
  padding: 0 0 0 0;
}

@media (max-width: 768px) {
  .portfolio-details .portfolio-description h2 {
    width: 100%;
  }
  .portfolio-details .portfolio-info {
    position: static;
    margin-top: 30px;
  }
  
  .testimonials_beranda .testimonial-item {
    height: 9em;
    text-align: left;
  }
  /* .timdelivery{
   display: none;
  } */
  /* .ordermudah{
    height: 30em;
  } */
  /* .easyfast{
    display: none;
  }
  .gpstracking{
    display: none;
  } */
  .testimonials_beranda .testimonial-item h3 {
    width: 100%;
    font-size: 1rem;
    margin-left: 10%;
    margin-top: 5%;
  }
  .testimonials_beranda .testimonial-item p {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
    font-size: 0.5rem;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  padding: 60px 0;
}

.team .member {
  margin-bottom: 20px;
  padding: 2%;
  overflow: hidden;
  border-radius: 4px;
  background: #bababa;
  box-shadow: 0px 2px 15px rgba(16, 110, 234, 0.15);
}

.testimonials_berita .member .member-img {
  position: relative;
  overflow: hidden;
  width: 80%;
  margin-left: 11%;
}

.testimonials_berita .member .berita_box {
  background-color: grey;
  width: 80%;
  margin-left: 11%;
  padding: 2%;
}

.team .member .social {
  position: absolute;
  left: 0;
  bottom: 30px;
  right: 0;
  opacity: 0;
  transition: ease-in-out 0.3s;
  text-align: center;
}

.team .member .social a {
  transition: color 0.3s;
  color: #222222;
  margin: 0 3px;
  padding-top: 7px;
  border-radius: 4px;
  width: 36px;
  height: 36px;
  background: rgba(16, 110, 234, 0.8);
  display: inline-block;
  transition: ease-in-out 0.3s;
  color: #fff;
}

.team .member .social a:hover {
  background: #3b8af2;
}

.team .member .social i {
  font-size: 18px;
}

.team .member .member-info {
  padding: 25px 15px;
}

.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222;
}

.team .member .member-info span {
  display: block;
  font-size: 13px;
  font-weight: 400;
  color: #aaaaaa;
}

.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  line-height: 26px;
  color: #777777;
}

.team .member:hover .social {
  opacity: 1;
  bottom: 15px;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #ccc;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  margin-bottom:2%;
}

.pricing .box h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #ccc;
}

.pricing .box h4 {
  font-size: 36px;
  color: #106eea;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}

.pricing .box h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}

.pricing .box h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.pricing .box ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}

.pricing .box ul li {
  padding-bottom: 16px;
}

.pricing .box ul i {
  color: #106eea;
  font-size: 18px;
  padding-right: 4px;
}

.pricing .box ul .na {
  color: #ccc;
  text-decoration: line-through;
}

.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}

.pricing .btn-buy {
  background: #106eea;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 4px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}

.pricing .btn-buy:hover {
  background: #3b8af2;
}

.pricing .featured h3 {
  color: #fff;
  background: #106eea;
}

.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #106eea;
  color: #fff;
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.3);
  padding: 20px 0 30px 0;
}

.contact .info-box i {
  font-size: 32px;
  color: #106eea;
  border-radius: 50%;
  padding: 8px;
  border: 2px dotted #b3d1fa;
}

.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact .php-email-form {
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.4);
  padding: 30px;
}

.contact .php-email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}

.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: #106eea;
}

.contact .php-email-form input {
  padding: 20px 15px;
}

.contact .php-email-form textarea {
  padding: 12px 15px;
}

.contact .php-email-form button[type="submit"] {
  background: #106eea;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .php-email-form button[type="submit"]:hover {
  background: #3b8af2;
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.loc_partner_wrapper {
  padding: 0px;
  background-size: cover;
  background-position: center;
}
.dropup-content a:hover {background-color: #ccc}
.dropup-content a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
  }
.dropup:hover .dropup-content {
  display: block;
}
.dropup:hover .dropbtn {
  background-color: #ccc;
}
.dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    bottom: 70px;
    z-index: 9999;
}
.dropup {
    position: relative;
    display: inline-block;
    width: 15%;
}
.logo_footer{
  width: 100px;
  padding: 15px 0 0 10px;
}
.logo_footer1{
  width: 70px;
  padding: 15px 0 0 10px;
}
.logo_footer2{
  width: 75px;
  padding: 15px 0 0 10px;
}
.logo_footer3{
  width: 65px;
  padding: 15px 0 0 10px;
}

@media (max-width: 991.98px) {
  .testimonials_berita .member .berita_box h4{
    font-size: 10px;
  }
  .testimonials_berita .member .member-img {
    position: relative;
    overflow: hidden;
    width: 85%;
  }
  
  .testimonials_berita .member .berita_box {
    background-color: grey;
    padding: 2%;
    width: 85%;
  }
  .pricing {
    padding:0;
  }
  .tengah{
    margin-left: 4%;
  }
  .logo_footer{
    width: 76px;
    padding: 5px;
  }
  .logo_footer1{
      width: 15%;
      padding: 5px;
  }
  .logo_footer2{
      width: 76px;
      padding: 5px;
  }
  .mlogo_footer3{
      width: 15%;
      padding: 5px;
  }
  .prama_logo_footer{
      width: 16%;
      padding: 5px;
  }
  .wrlogo_footer{
      padding: 5px;
      width: 19%;
  }
  .loc_partner_wrapper {
    padding: 0px;
    background-size: cover;
    background-position: center;
    /* margin-left: 5%; */
  }
  .dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 250px;
    bottom: 32px;
    z-index: 9999;
  }
  .dropup {
    position: relative;
    display: inline-block;
    width: 25%;
  }
}
/*
.loc_partner_wrapper {
  padding: 0px;
  background-size: cover;
  background-position: center;
}
.loc_partners_container img {
  margin-top: 10px;
  max-height: 100px;
}
.loc_partners_container img:hover {
  opacity: 1;
}
.loc_partners_container img:hover, .loc_partners_container img {
  -webkit-transition: all 0.5s;
-moz-transition: all 0.5s;
-ms-transition: all 0.5s;
-o-transition: all 0.5s;
transition: all 0.5s;
}
.loc_insta_field ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.loc_insta_field ul li {
  width: 31%;
  margin: 0 0 10px;
}
.loc_insta_field ul li img {
  width: 83px;
  height: auto;
  border-radius: 3px;
  object-fit: cover;
}
.loc_sub_heading {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 22px;
  text-transform: capitalize;
}
.loc_service_thumb_wrapper{
  margin-bottom: 3%;
}
.gym_partner_wrapper img{
  padding:0%;
  width: 100%;
}
.tbfooter{
  border:0;
  width: 500px;
}
.dr_footer_main_wrapper {
  padding: 30px 0 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  width: 100%;
  display: inline-block;
  color: var(--main-gray-version12);
}
.dr_footer_main_wrapper:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #FE3F00;
}
.dr_footer_wrapper {
  position: relative;
}
.dr_footer_title {
  position: relative;
  color: var(--main-gray-version12);
  font-size: 22px;
  font-weight: 400;
  margin: 0;
}
img.footer_logo {
  margin: 0 12px 10px 0;
  width: 50%;
}
.dr_footer{
  width: 60%;
  margin: 20px;
}
.dr_address_wrap {
  margin-top: 6px;
}
.dr_address_wrap h4 {
  font-size: 22px;
  font-weight: 700;
  color: var(--main-royal-red);
  margin-bottom: 2px;
}
.dr_footer_twitter ul li {
  padding-left: 30px;
  margin-bottom: 15px;
  position: relative;
  color: var(--main-bg-color);
}
.dr_footer_twitter li:last-child {
  margin-bottom: 0;
}
.dr_footer_twitter ul li > span {
  position: absolute;
  left: 0;
  top: 4px;
  font-size: 22px;
  color: var(--main-royal-red);
}
.dr_footer_post li > a {
  width: calc(100% - 95px);
  display: inline-block;
}
.dr_twitter_date, .dr_post_date {
  color: var(--main-royal-red);
}
.dr_footer_post li {
  position: relative;
  color: var(--main-link-color);
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5px;
}
.dr_footer_post li:last-child {
  margin-bottom: 0;
}
.dr_footer_post li img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
.dr_footer_menu ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 13px;
}
.dr_footer_menu ul li:last-child {
  margin-bottom: 0;
}
.dr_footer_menu ul li:before {
  content: "\f105";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  left: 0;
  top: -2px;
  font-size: 20px;
}
.dr_widgets a {
  color: white;
}
.dr_widgets a:hover, .dr_copyright_wrapper a {
  color: #FC7912;
}
.dr_widgets a:hover, .dr_copyright_wrapper_footer a {
  color: #FC7912;
}
.dr_widgets_contact {
  text-align: center;
  color: var(--main-gray-version12);
  padding: 0 15px;
}
.dr_widgets_contact a {
  color: var(--main-gray-version12);
  display: inline-block;
  width: 100%;
}
.dr_widgets_contact span {
  width: 45px;
  height: 45px;
  line-height: 70px;
  display: inline-block;
  text-align: center;
}
.dr_footer_info_text {
  margin-top: 24px;
}
.dr_footer_info_text img{
  width: 10%;
  margin-left: 5%;
}
.dr_footer_info_text a {
  margin-left: 5%;
}
.dr_widgets_contact span svg {
  height: 30px;
  width: 30px;
  fill: var(--main-gray-version12);
}
.dr_widgets_contact:hover span svg, .dr_widgets_contact:hover span {
  fill: var(--main-royal-red);
}
.dr_widgets_contact:hover span {
  border-color: var(--main-royal-red);
}
.footer_information {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding-bottom: 12px;
  position: relative;
}
.footer_information:before {
  content: "";
  background: white;
  height: 1px;
  left: 15px;
  right: 15px;
  position: absolute;
  bottom: 0;
}
.dr_widgets_contact:hover span svg, .dr_widgets_contact:hover span, .dr_widgets_contact span svg, .dr_widgets_contact span {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.dr_copyright_wrapper {
  padding: 12px 0 9px;
  color: var(--main-bg-color);
  background-color: white;
  position: relative;
  margin-top: 50px;
  border-top: 1px solid white;
}
.dr_copyright_wrapper_footer {
  padding: 12px 0 9px;
  color: var(--main-bg-color);
  background-color: white;
  position: relative;
  border-top: 1px solid white;
} */

#footer {
  background: #FE3F00;
  padding: 0 0 30px 0;
  color: white;
  font-size: 14px;
}

#footer .footer-newsletter {
  padding: 50px 0;
  background: #f1f6fe;
  text-align: center;
  font-size: 15px;
}

#footer .footer-newsletter h4 {
  font-size: 24px;
  margin: 0 0 20px 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
}

#footer .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
  text-align: left;
}

#footer .footer-newsletter form input[type="email"] {
  border: 0;
  padding: 4px 8px;
  width: calc(100% - 100px);
}

#footer .footer-newsletter form input[type="submit"] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #106eea;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

#footer .footer-newsletter form input[type="submit"]:hover {
  background: #0d58ba;
}

img.logo_footer{
  width: 50%;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #FE3F00;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h3 {
  font-size: 24px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact h3 span {
  color: #106eea;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #106eea;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #106eea;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #106eea;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  background: #3b8af2;
  color: #fff;
  text-decoration: none;
}

.kolom3{
  margin-top:27%;
  margin-left: 20%;
}

.kolom2{
  margin-left: 25%;
}

#footer .copyright {
  text-align: center;
  border-top-style: solid;
}

@media (max-width: 768px) {
  #footer .copyright, #footer .credits {
    float: none;
    text-align: center;
    padding: 2px 0;
  }
  .kolom3{
    margin-top:0%;
    margin-left: 0%;
  }
  .kolom2{
    margin-left: 0%;
  }
}

/* @media (max-width: 768px) {
  .menu_footer_heading{
    margin-left: 5%;
  }
  .menu_footer_heading2{
    margin-left: 35%;
  }
  .menu_footer_heading3{
    margin-left: 25%;
    margin-top: 10%;
  }
} */
